<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#"><span class="text-danger">Air</span><span class="text-white">Lines</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="checkin">Check-In<span class="sr-only"></span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-white" routerLink="in-flight">In-Flight</a>
        </li>
        
      </ul>
      <li class="navbar-nav nav-item float-right">
        <a class="nav-link text-white" href="#">Logout</a>
      </li>
    </div>
  </nav>