.fgform{
    border-radius: 5px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 6%;
    padding-bottom: 6%;
    background:#5c5753;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.bg {
    background-image: url("/assets/images/airplane-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%
  }
