.add-icon{
    position: fixed;
    right: 100px;
    bottom:100px;
    box-shadow: 0 5px 8px 0 rgba(116, 109, 109, 0.2), 0 9px 26px 0 rgba(126, 118, 118, 0.19);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
    background-color: rgb(238, 236, 110);
}
.fa-plus{
    font-size: 50px;
}